body{
    margin:0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}
.banner-principal{
    background-image: url('https://cdn.vox-cdn.com/thumbor/lQIuXztG51s2Nl6Or7WnoAfDWVY=/0x352:4272x2755/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/37207996/shutterstock_161077550.0.0.jpg');
    width:100%;
    height: 100px;
    position: relative;
    opacity: 0.8;
    
}
.whatsapp {
    position:fixed;
    width:45px;
    height:45px;
    bottom:14px;
    right:13px;
    background-color:#4dc247;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    font-weight: lighter;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:7.8px;
  }
  /*ESTILO DE LA SECCION */

section{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
}

  /*ESTILO DE LOS ARTICULOS */
.titulo-articulos{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family:cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(46, 44, 44);
}
.p-articulos{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    margin-left: 10px; 
    margin-right: 10px;
    color: rgb(22, 22, 22);
}
article{    
    border-radius: 5px;
    padding: 0;
    width: 23%;
    height: auto;
    background-color: rgb(177, 175, 175);
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
}
.imagen-articulo{
    margin-left: 2.5%;
    width: 95%;
    border-radius: 10%;
}
@media only screen and (max-width: 400px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 45% !important;
        
    }
}
@media only screen and (min-width: 401px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 45.89% !important;
        
    }
}
@media only screen and (min-width: 470px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 46% !important;
        
    }
}
@media only screen and (min-width: 500px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 46.3% !important;
        
    }
}
@media only screen and (min-width: 550px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 46.725% !important;
        
    }
}
@media only screen and (min-width: 610px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 46.954% !important;
        
    }
}
@media only screen and (min-width: 670px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 47.136% !important;
        
    }
}
@media only screen and (min-width: 700px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 30.8% !important;
        
    }
}
@media only screen and (min-width: 740px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 30.95% !important;
        
    }
}
@media only screen and (min-width: 780px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 31% !important;
        
    }
}
@media only screen and (min-width: 820px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 31.1% !important;
        
    }
}
@media only screen and (min-width: 860px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 31.19% !important;
        
    }
}
@media only screen and (min-width: 900px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 31.25% !important;
        
    }
}
@media only screen and (min-width: 940px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 31.32297% !important;
        
    }
}
@media only screen and (min-width: 1000px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.22% !important;
        
    }
}
@media only screen and (min-width: 1100px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.34% !important;
        
    }
}
@media only screen and (min-width: 1200px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.44% !important;
        
    }
}
@media only screen and (min-width: 1300px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.52% !important;
        
    }
}
@media only screen and (min-width: 1400px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.591% !important;
        
    }
}
@media only screen and (min-width: 1500px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.64% !important;
        
    }
}
@media only screen and (min-width: 1600px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.70% !important;
        
    }
}
@media only screen and (min-width: 1700px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.749% !important;
        
    }
}
@media only screen and (min-width: 1800px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.791% !important;
        
    }
}
@media only screen and (min-width: 1900px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.82% !important;
        
    }
}
@media only screen and (min-width: 2500px){
    section{
        display: flex;
        justify-content: space-around;
    }   
    article{
        margin-left: 6.5px;
        margin-right: 6.5px;
        width: 23.9% !important;
        
    }
}



.headroom {
    transition: transform .6s ease;
}

.headroom--top{
    transform: translateY(-0%);
}

.headroom--not-top{
    transform: translateY(-76.8%);
}
.banner-principal h2{
    text-align: center;
    color: rgb(206, 199, 199);
    margin: 0;
}
.banner-principal h3{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: rgb(247, 247, 247);
    margin: 0;
    font-size: 22px;
}
.izquierda{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position:absolute;
    left: 20px;
    top: 20px;
}
.navegacion{
    width: 100%;
    height: 30px;
}
.nav-bar{
    background-color: rgb(51, 51, 51);
    padding: 0%;
    margin: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.nav-bar li{
    border-radius: 100px;
    height: 100%;
    font-size: 18px;
    color: wheat;
    margin: 0;
    margin-left: 30px;
    padding-left: 0;
    list-style: none;
}
.nav-bar li:hover{
    background-color: gray;
}
a{
    text-decoration: none;
}
.conocimientos li{
    font-size: 22px;
}
@media only screen and (max-width: 400px){
    .nav-bar li{
        margin: 0;
        margin-right: 5px;
        margin-left: 5px;
    }
    .nav-bar{
        justify-content: space-between;
    }
}
.menu-completo{
    width: 100%;
    margin: 0;
    padding: 0%;
    position: fixed;
    top: 0;
    z-index: 1000;
}